
:host {
    * {
        box-sizing: border-box;
    }
}

.dialog {
    &.dialog-container {
        width: 50vw;
        height: auto;
        max-height: 99vh;
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
        &.dialogConfirm {
            width: 35vw;
        }
    }
    &__header {
        width: 100%;
        height: 40px;
        min-height: 2.5rem;
        background: #324458;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        color: #fff;
        align-items: center;
        direction: rtl;
        position: relative;
        flex: 1;
        h3 {
            padding: 0;
            margin: 0;
        }
        .icon--close {
            display: flex;
            width: 1em;
            height: 1em;
            cursor: pointer;
            position: absolute;
            left: 0.5em;
        }
    }
    &__content {
        margin: 0;
        padding: 0;
        flex: 1 1 91%;
        max-height: calc(99vh - 2.5rem);
        max-width: 80vw;
        width: auto;
        overflow: hidden;

        .confirm {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            margin: 3em;
            margin-top: 1em;
            .innerContent {
                height: 4em;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .btn {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                width: 100%;
                align-self: flex-end;
                background-color: #fff;
                &__create {
                    margin-left: 2em;
                }

                &__cancel {
                }
            }
            .icon {
                color: #fe9d2a;
                width: 1em;
                height: 1em;
                font-size: 6em;
            }
        }
    }
}
