@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

:host{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #000;
    opacity: .5;

}

.spinnerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .spinner{
        width: 2em;
        height: 2em;
        position: absolute;
        border-radius: 100%;
        border: 4px solid #00bfff;
        border-bottom-color: #000;
        animation: spin 2s linear infinite;
    }
}