<div class="content-header flex-row">
    <div>
        <div class="leftSide flex-row">
            @if(showBack){
                <button type="button" class="flex-row btn back" (click)="backClick()">
                    <span class="material-icons" title="Back" >arrow_back_ios</span>
                    Back
                </button>
                
            }
            @if(showSearch){
                <input type="search" class="content-header_search" placeholder="search.." (change)="searchChange($event)"/>

            }
    
        </div>

    </div>
    <div>
        <div class="actions flex-row">
            @if(showAddAction){
                
                <span class="material-icons icon" [title]="addTitle" (click)="addClick()">add</span>
                
            }
            @if(showSaveAction){
                <ng-container *ngIf="hasError">
                    <span class="error">Please Fill All Required Fields!</span>

                </ng-container>
                <button type="submit" class="flex-row btn" (click)="saveClick()" [ngStyle]="{'background-color':bgColor}" [ngClass]="{'disabled':disabledSaveAction}">
                    <span class="material-icons " [title]="saveTitle" >save</span>
Save
                </button>
    
            }
        </div>

    </div>
</div>

<ng-container *ngIf="search$|async"></ng-container>