<app-content-header [showAddAction]="false" [showSearch]="false" [showBack]="true" [showSaveAction]="true" [hasError]="messages.length>0" [disabledSaveAction]="!form.valid" (onBack)="onNavigateBack()" (onSubmit)="onSubmitForm()"></app-content-header>
<form class="todo-modify form" [formGroup]="form">
  <div class="flex-row corporate-items">
    <div class="flex-col date-container" [ngClass]="{'inValid':messages.includes('dueDate')}">
      <mat-calendar [(selected)]="selected" (selectedChange)="changeDate($event)" [minDate]="startDate" required></mat-calendar>
      
    </div>
    <div class="flex-col right-items">
      <div class="flex-row gp-items">
        <div class="form-item">
          <label for="taskType" class="form-label">Task Type</label>
          <select  class="form-control" id="taskType" (change)="onTaskType($event)" >
            <option value="">--</option>
            @for(taskType of taskTypes;track taskType){
              <option [value]="taskType" [selected]="data?.taskType ===taskType">{{taskType}}</option>
            }
          </select> 
        </div> 
        <ng-container *ngIf="data">
          <div class="form-item">
            <label for="status" class="form-label">Status</label>
            <select  class="form-control" id="status" formControlName="status">
              <option value="">--</option>
              @for(status of allStatus;track status){
                <option [value]="status">{{status}}</option>
              }
            </select> 
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="isCompleted" formControlName="isCompleted">
                <label class="form-check-lbl"  for="isCompleted">Is Compeleted</label>
            </div>
            
          </ng-container>
        </div>
     <div class="form-item">
       <label for="title" class="form-label">Title</label>
       <input type="text" class="form-control" id="title" required formControlName="title" [ngClass]="{'inValid':messages.includes('title')}">
      </div>
     <div class="form-item ">
       <label for="description" class="form-label">Description</label>
       <textarea  class="form-control txtArea" id="description" formControlName="description" ></textarea>
     </div>
     
     <div class="form-item" formGroupName="assignedTo">
       <label for="assignedTo" class="form-label">Assigned To</label>
       <select  class="form-control" id="assignedTo" formControlName="id" (change)="onAssinedToCahnge($event)">
         <option value="3fa85f64-5717-4562-b3fc-2c963f66afa6">Susan Hatefi</option>
       </select>
     </div>
     
    </div>
  </div>

  @if(taskType==="Feature"){
  <hr class="divider">
  <!-- feature -->
  <div class="form-item">
    <label for="priority" class="form-label">Priority</label>
    <input type="number" class="form-control" id="priority" required formControlName="priority" min="1" max="4" [ngClass]="{'inValid':messages.includes('priority')}">
  </div>
  <div class="form-item">
    <label for="component" class="form-label">Component</label>
    <input type="text" class="form-control" id="component" required formControlName="component" [ngClass]="{'inValid':messages.includes('component')}">
  </div>
  <!-- end feature -->

}

    
@if(taskType==="Bug"){
  <hr class="divider">
  
  <!-- bug -->
  <div class="form-item">
   <label for="severity" class="form-label">Severity</label>
   <select  class="form-control" id="severity" required formControlName="severity" [ngClass]="{'inValid':messages.includes('severity')}">
     @for(item of severity;track item){
       <option [value]="item">{{item}}</option>
     }
   </select>
 </div>
 <div class="form-item">
   <label for="affectedVersion" class="form-label">Affected Version</label>
   <input type="text" class="form-control" required id="affectedVersion" formControlName="affectedVersion" [ngClass]="{'inValid':messages.includes('affectedVersion')}">
 </div>
 <div class="form-item">
   <label for="images" class="form-label">Attachments</label>
   <app-fileupload  class="form-control" id="images"/>
 </div>
  <!-- end bug-->

}
    
    

</form>
