<div class="card" (click)="onClick()">
 @if(showHeader){
     <div class="card-header">
         <ng-container *ngTemplateOutlet="cardHeaderTemp ? cardHeaderTemp : defaultCardHeaderTemp; context:{title:title}" ></ng-container>
     </div>

 }
    <div class="card-content">
        <div class="flex-row card-content_item">
        @if(cardContentTemp){
            <ng-container *ngTemplateOutlet="cardContentTemp ? cardContentTemp : defaultCardContentTemp; context:{data:cardData}" ></ng-container>
        }
        @else {
            <div class="description flex-col">{{description}}</div>
        }
        </div>
    </div>
    @if(showFooter){
        <div class="card-footer">
            @if(cardFooterTemp){
                <ng-container *ngTemplateOutlet="cardFooterTemp ? cardFooterTemp : defaultCardFooterTemp; context:{data:cardData}" ></ng-container>
            }
            @else {
                <div class="flex-col info">
                    <div>
                        @if(userProfile){
                            <img [src]="userProfile" alt="" [title]="userFullName">
                        }
                        @else {
                            <span class="material-icons" [title]="userFullName">person</span>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>
<ng-template #defaultCardHeaderTemp let-data="title">
{{data}}
</ng-template>
<ng-template #defaultCardContentTemp let-data="cardData">
    
</ng-template>
<ng-template #defaultCardFooterTemp let-data="cardData">

</ng-template>

