<app-content-header (onAdd)="addNewTask()" (onSearch)="searchInTasks($event)"></app-content-header>
<div class="todo-view flex-row">

    @for(item of status;let index=$index;track item;){
        <div class="flex-col-noWrap item">
            <div class="item-title">
                <h4>{{item}}</h4>
            </div>
            @if(cards){
                @for(card of getCards(cards,index);track card.id){
                    <app-card [title]="card.title" [description]="card.description" [showFooter]="true" [cardData]="card" (OnCardClick)="onClickTask($event)"></app-card>
                }
                
            }
        </div>
    }
</div>